<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-259183-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-259183-2');
</script>
<script id="CookieDeclaration" src="https://consent.cookiebot.com/c073bcd3-3739-4c8d-b1ca-91e75c91e4fe/cd.js" type="text/javascript" async></script>
<div class="py-5 border-top">
    <div class="container">
        <p>&copy; Copyright 2000<script>new Date().getFullYear() > 2000 && document.write('–' + new Date().getFullYear())</script>, Daniel Vaughan
        </p>
    </div>
</div>
