<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Daniel Vaughan"/>
  <meta property="og:type" content="public_figure"/>
  <meta property="og:url" content="http://www.danielvaughan.com/"/>
  <meta property="og:image" content="http://www.danielvaughan.com/img/danielvaughan-com.jpeg">
  <meta property="fb:admins" content="daniel.p.vaughan"/>
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii"/>
  <meta http-equiv="Content-Language" content="en-gb"/>
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
  <meta name="keywords" content="Daniel Vaughan, London, UK, software developer, Vaughn"/>
  <meta name="description" content="Daniel Vaughan is a software consultant working in London, UK"/>
  <meta name="author" content="Daniel Vaughan"/>
  <meta name="robots" content="index,follow"/>
  <meta name="RATING" content="General"/>
  <meta name="revisit-after" content="30 days"/>
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
</head>
