<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Daniel Vaughan"/>
    <meta property="og:type" content="public_figure"/>
    <meta property="og:url" content="https://danielvaughan.com/"/>
    <meta property="og:image" content="https://danielvaughan.com/img/danielvaughan-com.jpeg">
    <meta property="fb:admins" content="daniel.p.vaughan"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
    <meta name="keywords" content="Daniel Vaughan, London, UK, software, cloud, Vaughn"/>
    <meta name="author" content="Daniel Vaughan"/>
    <meta name="robots" content="index,follow"/>
    <meta name="RATING" content="General"/>
    <meta name="revisit-after" content="30 days"/>
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    {%- feed_meta -%}
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="c073bcd3-3739-4c8d-b1ca-91e75c91e4fe" data-blockingmode="auto" type="text/javascript"></script>
    <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
</head>
